body {
  font-size: 100px; }

h1 {
  font-size: 200px; }

.color10-1 {
  stroke: #aa191e;
  fill: #aa191e; }

.color10-2 {
  stroke: #b77113;
  fill: #b77113; }

.color10-3 {
  stroke: #678d1c;
  fill: #678d1c; }

.color10-4 {
  stroke: #24ab89;
  fill: #24ab89; }

.color10-5 {
  stroke: #3ea3c1;
  fill: #3ea3c1; }

.color10-6 {
  stroke: #2a246c;
  fill: #2a246c; }

.color10-7 {
  stroke: #75156e;
  fill: #75156e; }

.color10-8 {
  stroke: #c82d52;
  fill: #c82d52; }

.color10-9 {
  stroke: #6e695a;
  fill: #6e695a; }

.color10-10 {
  stroke: #1e1c17;
  fill: #1e1c17; }
