html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* BASIC */
/* Fonts */
body {
  font: normal 13px "Open Sans", sans-serif;
}

text {
  font: normal 13px "Open Sans", sans-serif;
}

/* Colors */
.color10-1 {
  stroke: #e41a1c;
  fill: #e41a1c;
}

.color10-2 {
  stroke: #377eb8;
  fill: #377eb8;
}

.color10-3 {
  stroke: #4daf4a;
  fill: #4daf4a;
}

.color10-4 {
  stroke: #984ea3;
  fill: #984ea3;
}

.color10-5 {
  stroke: #ff7f00;
  fill: #ff7f00;
}

.color10-6 {
  stroke: #ffff33;
  fill: #ffff33;
}

.color10-7 {
  stroke: #a65628;
  fill: #a65628;
}

.color10-8 {
  stroke: #f781bf;
  fill: #f781bf;
}

.color10-9 {
  stroke: #999999;
  fill: #999999;
}

.color10-10 {
  stroke: #222222;
  fill: #222222;
}

.line.color10-1 .dot {
  stroke: #e41a1c;
  fill: #e41a1c;
}

.line.color10-2 .dot {
  stroke: #377eb8;
  fill: #377eb8;
}

.line.color10-3 .dot {
  stroke: #4daf4a;
  fill: #4daf4a;
}

.line.color10-4 .dot {
  stroke: #984ea3;
  fill: #984ea3;
}

.line.color10-5 .dot {
  stroke: #ff7f00;
  fill: #ff7f00;
}

.line.color10-6 .dot {
  stroke: #ffff33;
  fill: #ffff33;
}

.line.color10-7 .dot {
  stroke: #a65628;
  fill: #a65628;
}

.line.color10-8 .dot {
  stroke: #f781bf;
  fill: #f781bf;
}

.line.color10-9 .dot {
  stroke: #999999;
  fill: #999999;
}

.line.color10-10 .dot {
  stroke: #222222;
  fill: #222222;
}

span.color10-1 {
  background-color: #e41a1c;
}

span.color10-2 {
  background-color: #377eb8;
}

span.color10-3 {
  background-color: #4daf4a;
}

span.color10-4 {
  background-color: #984ea3;
}

span.color10-5 {
  background-color: #ff7f00;
}

span.color10-6 {
  background-color: #ffff33;
}

span.color10-7 {
  background-color: #a65628;
}

span.color10-8 {
  background-color: #f781bf;
}

span.color10-9 {
  background-color: #999999;
}

span.color10-10 {
  background-color: #222222;
}

/* Charts */
svg {
  width: 100%;
  height: 100%
}

.html {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
}

.html-left {
  right: 0;
  height: 100%;
}

.html-right {
  left: 100%;
  border: 1px solid #999999;
  margin-top: 20px;
  padding: 10px
}

.html-above{
  bottom: 100%;
  width: 100%
}

.html-below{
  top: 100%;
  width: 100%;
}

/* Axises and Grid */
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  shape-rendering: crispEdges;
}
.axis path {
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  shape-rendering: crispEdges;
}

.grid path {
  fill: none;
  shape-rendering: crispEdges;
}
.grid line {
  opacity: 0.5;
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* Scatterplot */
.dot {
  opacity: 0.6;
  transition: stroke-width 0.1s ease, opacity 0.1s ease;
  stroke-width: 0;
  cursor: pointer;
}

/* Linechart */
.line {
  fill: none !important;
  stroke-width: 1.5px;
}

/* PLUGINS */
/* Highlighter */
.dot.highlighted {
  stroke-width: 6;
  stroke-opacity: 0.4;
  opacity: 1;
}

/* Tooltip */
.tooltip {
  position: absolute;
  display: none;
  font-size: 11px;
  padding: 7px 10px 8px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.tooltip em {
  font-style: normal;
  color: #999999;
  display: inline-block;
  min-width: 45px;
}

/* Projections */
.projections line {
  stroke-width: 1;
  opacity: 0.6;
  shape-rendering: crispEdges;
}
.projections text {
  stroke: none;
}
.projections .x text {
  text-anchor: end;
}
.projections .y text {
  text-anchor: middle;
}

/* Datatable */

.datatable {
  display: none;
  background: white;
  padding: 10px;
  height: 300px;
  overflow: scroll;
  width: 300px;
  border: 1px solid #999999;
  position: absolute;
  z-index: 2;
}
.datatable table td {
  padding: 2px;
}
.datatable table th {
  padding: 2px;
  font-weight: bold;
}

/* Legend */
.legend .disabled {
  opacity: 0.2;
}
