.highlighted {
	stroke: #000;
	stroke-width: 4;
	stroke-opacity: 0.5;
	opacity: 1;
}

.tooltip {
	position: absolute;
	background: #eee;
	padding: 10px;
	display: none;
	font: 12px Arial;
}

.axis line{
    stroke-width: 1;
    fill: none;
    stroke: #BDC3CD;
    shape-rendering: crispEdges;
}

.axis line {
    stroke-width: 1px;
    stroke: #BDC3CD;
}

.axis path{
    stroke-width: 1;
    fill: none;
    stroke: #BDC3CD;
    shape-rendering: crispEdges;
}

.dot{
	opacity: 0.6;
}

text{
	font:normal 13px 'Open Sans', sans-serif;
}
