/* region Generate .color@{n}-@{i}  function  */
.color10-1 {
  stroke: #e41a1c;
  fill: #e41a1c;
}
.color10-2 {
  stroke: #377eb8;
  fill: #377eb8;
}
.color10-3 {
  stroke: #4daf4a;
  fill: #4daf4a;
}
.color10-4 {
  stroke: #984ea3;
  fill: #984ea3;
}
.color10-5 {
  stroke: #ff7f00;
  fill: #ff7f00;
}
.color10-6 {
  stroke: #e9e964;
  fill: #e9e964;
}
.color10-7 {
  stroke: #a65628;
  fill: #a65628;
}
.color10-8 {
  stroke: #f781bf;
  fill: #f781bf;
}
.color10-9 {
  stroke: #999999;
  fill: #999999;
}
.color10-10 {
  stroke: #222222;
  fill: #222222;
}
/* endregion */
/* region Generate .line-params-@{n}  function  */
/* Generate .line-size-@{n} */
.line-size-1 {
  stroke-width: 1px;
}
.line-size-2 {
  stroke-width: 1.5px;
}
.line-size-3 {
  stroke-width: 2px;
}
.line-size-4 {
  stroke-width: 2.5px;
}
.line-size-5 {
  stroke-width: 3px;
}
/* Generate .line-opacity-@{n} */
.line-opacity-1 {
  stroke-width: 1px;
}
.line-opacity-2 {
  stroke-width: 0.95px;
}
.line-opacity-3 {
  stroke-width: 0.9px;
}
.line-opacity-4 {
  stroke-width: 0.85px;
}
.line-opacity-5 {
  stroke-width: 0.8px;
}
/* endregion */
.graphical-report {
  /* Links */
  /* Charts */
  /* Axises and Grid */
  /* Scatterplot  */
  /* Linechart  */
  /*  Bar  */
  /*  PLUGINS  */
  /*  Highlighter  */
  /* Tooltip  */
}
.graphical-report a {
  color: #3962ff;
  border-bottom: 1px solid rgba(57, 98, 255, 0.3);
  text-decoration: none;
}
.graphical-report a:hover {
  color: #e17152;
  border-bottom: 1px solid rgba(225, 113, 82, 0.3);
}
.graphical-report__chart {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.graphical-report__svg {
  display: block;
}
.graphical-report__svg .axis line,
.graphical-report__svg .axis path {
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  shape-rendering: crispEdges;
}
.graphical-report__svg .tick text {
  font-size: 11px;
}
.graphical-report__svg .grid path {
  fill: none;
  shape-rendering: crispEdges;
}
.graphical-report__svg .grid line {
  fill: none;
  stroke: rgba(189, 195, 205, 0.5);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.graphical-report__svg .grid .line path {
  shape-rendering: geometricPrecision;
}
.graphical-report__svg .label {
  font-size: 11px;
}
.graphical-report__dot {
  opacity: 0.6;
  transition: stroke-width 0.1s ease, opacity 0.1s ease;
  stroke-width: 0;
  cursor: pointer;
}
.graphical-report__line {
  fill: none !important;
  stroke-width: 1.5px;
}
.graphical-report__dot.highlighted {
  stroke-width: 6;
  stroke-opacity: 0.4;
  opacity: 1;
}
.graphical-report__tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 900;
  font-size: 11px;
  padding: 7px 10px 8px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.graphical-report__tooltip em {
  font-style: normal;
  color: #999;
  display: inline-block;
  min-width: 45px;
}
