.graphical-report {
  /* region Charts */
  /* endregion */
  /* region Axises and Grid */
  /* endregion */
  /* region Axis Labels  */
  /* endregion */
  /* region Scatterplot  */
  /* endregion */
  /* region Linechart  */
  /* endregion */
  /* region PLUGINS  */
  /* region Header  */
  /* endregion */
  /* region Highlighter  */
  /* endregion */
  /* region Jittering  */
  /* endregion */
  /* region Tooltip  */
  /* endregion */
  /* region Projections  */
  /* endregion */
  /* region Datatable  */
  /* endregion */
  /* region Legend  */
  /* endregion */
  /* endregion */
}
.graphical-report__chart {
  overflow: visible;
  position: relative;
}
.graphical-report__chart svg {
  width: 100%;
  height: 100%;
}
.graphical-report__html {
  position: absolute;
  display: inline-table;
}
.graphical-report__html-left {
  top: 0;
  right: 100%;
  height: 100%;
}
.graphical-report__html-right {
  top: 0;
  left: 100%;
  height: 100%;
}
.graphical-report__html-above {
  left: 0;
  bottom: 100%;
  width: 100%;
}
.graphical-report__html-below {
  left: 0;
  top: 100%;
  width: 100%;
}
.graphical-report svg {
  position: relative;
  z-index: 800;
}
.graphical-report svg .axis line,
.graphical-report svg .axis path {
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  shape-rendering: crispEdges;
}
.graphical-report svg .grid path {
  fill: none;
  shape-rendering: crispEdges;
}
.graphical-report svg .grid line {
  fill: none;
  stroke: rgba(189, 195, 205, 0.5);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.graphical-report svg .label {
  font-size: 11px;
  display: none;
}
.graphical-report__html-chart {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.graphical-report__html-chart .axis {
  position: absolute;
  z-index: 700;
}
.graphical-report__html-chart .axis:after {
  content: '\2192';
  margin-left: 5px;
}
.graphical-report__html-chart .axis:first-letter {
  text-transform: uppercase;
}
.graphical-report__html-chart .axis.y {
  top: 50%;
  left: -49%;
  width: 100%;
  text-align: center;
  transform: rotate(-90deg);
}
.graphical-report__html-chart .axis.x {
  top: 97%;
  width: 100%;
  text-align: center;
}
.graphical-report__html-chart .axis h4 {
  font: 700 12px Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 50px;
}
.graphical-report__html-chart .axis h4:after {
  content: ',';
  margin-right: 5px;
}
.graphical-report__html-chart .axis p {
  display: inline-block;
}
.graphical-report__dot {
  opacity: 0.6;
  transition: stroke-width 0.1s ease, opacity 0.1s ease;
  stroke-width: 0;
  cursor: pointer;
}
.graphical-report__line {
  fill: none !important;
  stroke-width: 1.5px;
}
.graphical-report header {
  margin: 0px 25px 20px;
}
.graphical-report header h1 {
  font: 700 24px 'Roboto', sans-serif;
  margin: 0 0 10px;
}
.graphical-report header p {
  margin-left: 0px;
}
.graphical-report__dot.highlighted {
  stroke-width: 6;
  stroke-opacity: 0.4;
  opacity: 1;
}
.graphical-report__jittering {
  padding: 15px 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  margin: 20px 0 0 20px;
  white-space: nowrap;
  text-align: center;
}
.graphical-report__jittering label {
  cursor: pointer;
}
.graphical-report__jittering label input {
  margin-right: 4px;
}
.graphical-report__tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 900;
  font-size: 11px;
  padding: 7px 10px 8px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.graphical-report__tooltip em {
  font-style: normal;
  color: #999;
  display: inline-block;
  min-width: 45px;
}
.graphical-report__projections line {
  stroke-width: 1;
  opacity: 0.6;
}
.graphical-report__projections text {
  stroke: none;
}
.graphical-report__projections .x text {
  text-anchor: end;
}
.graphical-report__projections .y text {
  text-anchor: middle;
}
.graphical-report__datatable {
  padding: 15px 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  margin: 20px 0 0 20px;
  white-space: nowrap;
  text-align: center;
}
.graphical-report__datatable div {
  display: none;
  background: white;
  width: 300px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin-left: -20px;
  margin-top: 15px;
}
.graphical-report__datatable div table {
  width: 100%;
  /*   @for $i from 1 through 10
                   &.col-#{$i} th, &.col-#{$i} td
                   width: (96% / $i)   */
}
.graphical-report__datatable div table thead {
  display: table;
  width: 100%;
}
.graphical-report__datatable div table tbody {
  display: block;
  width: 100%;
  height: 300px;
  overflow: scroll;
}
.graphical-report__datatable div table tr {
  display: table;
  width: 100%;
  white-space: nowrap;
}
.graphical-report__datatable div table tr:hover {
  background-color: rgba(57, 98, 255, 0.95);
}
.graphical-report__datatable div table th {
  padding: 10px 0;
  font-weight: 600;
  border-bottom: 1px solid rgba(189, 195, 205, 0.5);
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.graphical-report__datatable div table th:first-child {
  padding-left: 4%;
}
.graphical-report__datatable div table td {
  padding: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.graphical-report__datatable div table td:first-child {
  padding-left: 4%;
}
.graphical-report__datatable.show {
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(57, 98, 255, 0.95);
}
.graphical-report__datatable.show div {
  display: block;
}
.graphical-report__legend {
  padding: 20px 20px 15px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  margin: 20px 0 0 20px;
  max-height: 300px;
  overflow: auto;
}
.graphical-report__legend li {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  white-space: nowrap;
}
.graphical-report__legend li:before {
  width: 14px;
  height: 14px;
  display: inline-block;
  content: '';
  padding: 1px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 2px;
  margin-top: -2px;
}
.graphical-report__legend li.disabled:before {
  background-color: transparent;
  border: 1px solid #666;
  padding: 0;
}
