.graphical-report__layout {
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.graphical-report__layout__header {
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0 1 auto;
  flex: 0 1 auto;
}
.graphical-report__layout__container {
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  flex: 1 1 auto;
}
.graphical-report__layout__footer {
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0 1 auto;
  flex: 0 1 auto;
}
.graphical-report__layout__sidebar {
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0 1 auto;
  flex: 0 1 auto;
}
.graphical-report__layout__content {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1 0 auto;
  flex: 1 0 auto;
}
.graphical-report__layout__content div {
  overflow: auto;
}
.graphical-report__layout__sidebar-right {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0 0 auto;
  flex: 0 0 auto;
}
/* region Generate .color@{n}-@{i}  function  */
.graphical-report__svg .color10-1 {
  stroke: #377eb8;
  fill: #377eb8;
}
.graphical-report__svg .color10-2 {
  stroke: #e41a1c;
  fill: #e41a1c;
}
.graphical-report__svg .color10-3 {
  stroke: #4daf4a;
  fill: #4daf4a;
}
.graphical-report__svg .color10-4 {
  stroke: #984ea3;
  fill: #984ea3;
}
.graphical-report__svg .color10-5 {
  stroke: #ff7f00;
  fill: #ff7f00;
}
.graphical-report__svg .color10-6 {
  stroke: #e9e964;
  fill: #e9e964;
}
.graphical-report__svg .color10-7 {
  stroke: #a65628;
  fill: #a65628;
}
.graphical-report__svg .color10-8 {
  stroke: #f781bf;
  fill: #f781bf;
}
.graphical-report__svg .color10-9 {
  stroke: #999999;
  fill: #999999;
}
.graphical-report__svg .color10-10 {
  stroke: #222222;
  fill: #222222;
}
.graphical-report__svg .color-default {
  stroke: #377eb8;
  fill: #377eb8;
}
/* endregion */
/* region Generate .line-params-@{n}  function  */
/* Generate .line-size-@{n} */
.graphical-report__line-width-1 {
  stroke-width: 1px;
}
.graphical-report__line-width-2 {
  stroke-width: 1.5px;
}
.graphical-report__line-width-3 {
  stroke-width: 2px;
}
.graphical-report__line-width-4 {
  stroke-width: 2.5px;
}
.graphical-report__line-width-5 {
  stroke-width: 3px;
}
/* Generate .line-opacity-@{n} */
.graphical-report__line-opacity-1 {
  stroke-opacity: 1;
}
.graphical-report__line-opacity-2 {
  stroke-opacity: 0.95;
}
.graphical-report__line-opacity-3 {
  stroke-opacity: 0.9;
}
.graphical-report__line-opacity-4 {
  stroke-opacity: 0.85;
}
.graphical-report__line-opacity-5 {
  stroke-opacity: 0.8;
}
/* endregion */
/* endregion */
.graphical-report {
  /* Links */
  /* Charts */
  /* Axises and Grid */
  /* Scatterplot  */
  /* Linechart  */
  /*  Bar  */
  /*  PLUGINS  */
  /*  Highlighter  */
}
.graphical-report a {
  color: #3962ff;
  border-bottom: 1px solid rgba(57, 98, 255, 0.3);
  text-decoration: none;
}
.graphical-report a:hover {
  color: #e17152;
  border-bottom: 1px solid rgba(225, 113, 82, 0.3);
}
.graphical-report__chart {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.graphical-report__svg {
  display: block;
}
.graphical-report__svg .axis line,
.graphical-report__svg .axis path {
  stroke-width: 1;
  fill: none;
  stroke: #bdc3cd;
  shape-rendering: crispEdges;
}
.graphical-report__svg .axis.facet-axis .tick line {
  opacity: 0;
}
.graphical-report__svg .axis.facet-axis .tick text {
  font-weight: bold;
}
.graphical-report__svg .axis.facet-axis path.domain {
  opacity: 0;
}
.graphical-report__svg .tick text {
  font-size: 11px;
}
.graphical-report__svg .grid .grid-lines path {
  shape-rendering: crispEdges;
}
.graphical-report__svg .grid path {
  fill: none;
}
.graphical-report__svg .grid line {
  fill: none;
  stroke: rgba(189, 195, 205, 0.5);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.graphical-report__svg .grid .line path {
  shape-rendering: auto;
}
.graphical-report__svg .label {
  font-size: 11px;
  font-weight: bold;
}
.graphical-report__svg .label .label-token {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
.graphical-report__svg .label .label-token-1,
.graphical-report__svg .label .label-token-2 {
  font-weight: normal;
}
.graphical-report__svg .label .label-token-2 {
  fill: gray;
}
.graphical-report__svg .label .label-token-delimiter {
  font-weight: normal;
  fill: gray;
}
.graphical-report__dot {
  opacity: 0.6;
  transition: stroke-width 0.1s ease, opacity 0.1s ease;
  stroke-width: 0;
  cursor: pointer;
}
.graphical-report__line {
  fill: none;
}
.graphical-report__dot-line {
  opacity: 1;
}
.graphical-report__dot.highlighted {
  stroke-width: 6;
  stroke-opacity: 0.4;
  opacity: 1;
}
