.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
/*.tooltip:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: solid transparent;
}*/
.tooltip.bottom:before,
.tooltip.bottom-right:before,
.tooltip.bottom-left:before {
  top: -6px;
  border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
  border-width: 0 8px 6px 8px;
}
.tooltip.bottom:before {
  margin-left: -8px;
  left: 50%;
}
.tooltip.bottom-right:before {
  left: 20px;
}
.tooltip.bottom-left:before {
  right: 20px;
}
.tooltip.top:before,
.tooltip.top-right:before,
.tooltip.top-left:before {
  bottom: -6px;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  border-width: 6px 8px 0 8px;
}
.tooltip.top:before {
  margin-left: -8px;
  left: 50%;
}
.tooltip.top-right:before {
  left: 20px;
}
.tooltip.top-left:before {
  right: 20px;
}
.tooltip__content {
  padding: 15px 15px 10px 15px;
}
.tooltip__exclude {
  cursor: pointer;
  padding: 0 15px;
  line-height: 26px;
  border-top: 1px solid #dde2e7;
  color: #65717f;
}
.tooltip__exclude:hover {
  background: linear-gradient(to bottom, rgba(235, 238, 241, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}
.tooltip__exclude .tau-icon-close-gray {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top: 3px;
  margin-right: 5px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGlkPSJTaGFwZV8zNV8iIGZpbGw9IiM4NDk2QTciIGQ9Ik0xMCwwLjcxNUw5LjI4NSwwTDUsNC4yODVMMC43MTUsMEwwLDAuNzE1TDQuMjg1LDVMMCw5LjI4NUwwLjcxNSwxMEw1LDUuNzE1TDkuMjg1LDEwTDEwLDkuMjg1TDUuNzE1LDVMMTAsMC43MTV6Ii8+PC9zdmc+);
}
.tooltip__list {
  display: table;
}
.tooltip__list__item {
  display: table-row;
}
.tooltip__list__elem {
  display: table-cell;
  padding-bottom: 5px;
}
.tooltip__list__elem:not(:first-child) {
  padding-left: 15px;
}
.tooltip__list__elem:first-child {
  color: #8e8e8e;
}
.tooltip__gray-text {
  color: #8e8e8e;
}
