//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600&subset=latin,cyrillic-ext);

@fontFamily: Helvetica, Arial, sans-serif;

.graphical-report__layout {
    line-height: 1;
    font-family: @fontFamily;

    text {
        font: normal 13px @fontFamily;
    }
}