@import "variable";
@import "mixins";

.graphical-report {

    &__chart {
        font-family: @fontFamily;
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    &__layout {
        .flexbox;
        .flex-align(@params:stretch);
        .flex-direction-column;
        height: 100%;
        width: 100%;
        overflow: auto;
        background: @layout-bg-color;
        color: @font-color;

        &__header {
            .flex(@flex-shrink:0.1);
        }

        &__container {
            .flexbox;
            .flex(@flex-grow: 1);
            height: 100%;
        }

        &__footer {
            .flex;
        }

        &__sidebar {
            .flex;
        }

        &__content {
            .flex(@flex-grow: 1;@flex-shrink: 1;);
            overflow: auto;
        }

        &__sidebar-right {
            position: relative;
            overflow: auto;
            .flex(@flex-shrink:0);

            &__wrap {
                max-height: 100%;
                box-sizing: border-box;
            }

            &:empty {
                display: none;
            }
        }

        text{
            fill: @font-color;
        }
    }
}




