@import "variable";
@import "mixins";
@import "base";

.graphical-report {

    &__layout {
        .flexbox;
        .flex-align(@params:stretch);
        .flex-direction-column;
        height: 100%;
        overflow: auto;

        &__header {
            .flex;
            padding: 20px;
        }

        &__container {
            .flexbox;
            .flex(@flex-grow: 1);
            padding: 20px;
        }

        &__footer {
            .flex;
            padding: 20px;
        }

        &__sidebar {
            .flex;
            padding: 20px;
        }

        &__content {
            .flex(@flex-grow: 1);
            padding: 20px;
        }

        &__sidebar-right {
            .flex(@flex-basis: 300px);
            padding: 20px 25px;
        }
    }
}




