@import "variable";

.graphical-report {

    &__trendlinepanel {
        padding: 20px;
        width: 140px;

        h3 {
            font-weight: normal;
            font-size: 11px;
        }

        &__title {
            margin: 0 0 10px 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
        }

        &__control {
            width: 100%;
        }
    }

    /* TrendLine */
    &__trendline {
        fill: none;
        stroke-dasharray: 7, 5;
    }
}