@import "variable";

.graphical-report {

    &__trendlinepanel {
        padding: 20px 0 20px 20px;
        margin-right: 20px;
        width: 160px;
        box-sizing: border-box;

        &__title {
            margin: 0 0 10px 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
        }

        &__control {
            width: 100%;
        }

        &__error-message {
            font-size: 12px;
            margin-left: 5px;
        }

        &__hide {
            display: none;
        }
    }

    /* TrendLine */
    &__trendline {
        stroke-dasharray: 7, 5;
        &__tip {
            display: none;
            font-size: 11px;
            stroke: none;
        }

        &.active &__tip {
            display: block;
        }
    }


}




