@font-gray: #ccc;
@category-colors: #377eb8, #e41a1c, #4daf4a, #984ea3, #ff7f00, #E9E964, #a65628, #f781bf, #999999, #222222;
@default-color: extract(@category-colors, 1);
@list_category-colors: length(@category-colors);

@bg-color: #fff;
@font-color: #333;
@border-forms-color: #c3c3c3;
@border-forms-focus-color: #52a8ec;

@forms-height: 24px;