@bg-color: #000;
@shadow-color: #fff;

@fontFamily: Helvetica, Arial, sans-serif;

@font-color: #fff;
@font-gray: #8e8e8e;
@font-gray-dark: #ccc;

@link-color: #3962FF;
@link-hover-color: #E17152;


@forms-bg-color: #777;
@border-forms-color: #999;
@border-forms-hover-color:#c3c3c3;
@border-forms-focus-color: #52a8ec;

@checkbox-bg-color: @forms-bg-color;
@checkbox-checked-icon:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAPFBMVEX///////////////////////////////////////////////////////////////////////////////8gsV51AAAAE3RSTlMAHB0eHyAhIiNAv8Dc3d7f4eLjyWil2QAAAD1JREFUeAFjoApg5WZF4rEJCHNBxbmYGdgFhflZIFxuYV5OIWE+ZpguAWFhYV4mmDaQSh4mJHM4uBjJcAsAoZwBrNc0BKUAAAAASUVORK5CYII=);

@axis-color: rgba(255, 255, 255, 0.20);

@gray-stroke: #717171;

/* region place variables*/

@place-fill-color: #000;
@place-stroke-color: #fff;
@place-font-color: #fff;

/* endregion */

/* region map variables*/
@map-contour-stroke-color0: rgba(255, 255, 255, 0.20);
@map-contour-stroke-color1: rgba(255, 255, 255, 0.15);
@map-contour-stroke-color2: rgba(255, 255, 255, 0.09);
@map-contour-stroke-color3: rgba(255, 255, 255, 0.06);
@map-contour-stroke-color4: rgba(255, 255, 255, 0.03);

@map-contour-stroke-color-highlighted: #FFBF00;
@map-fill-color-highlighted: fade(@map-contour-stroke-color-highlighted, 15%);
@map-text-color-highlighted: #FFBF00;

/* endregion */

@category-colors: #6FA1D9, #DF2B59, #66DA26, #755797, #E5B011, #746650, #CB461A, #C7CE23, #7FCDC2, #CCA1C8, #C84CCE, #54762E, #746BC9, #A43B49, #5C7A76, #C8BF87, #BFC1C3, #AA7243, #71CE7B, #BE478B;
@default-color: extract(@category-colors, 1);
@list_category-colors: length(@category-colors);
@color-definite: #cacaca;

@dot-opacity: 0.9;

@parallel-background-line-color: lighten(@bg-color, 15%);


/* region variables for plugins */

@legend-items-bg-hover: #25272e;

@export-items-bg-hover: #EAF2FC;

@exclude-bg-color: #EBEEF1;
@exclude-font-color: #65717F;

/* endregion */ 
